/Binary Partition- Bin Packing.ipynb
/BinaryTempory.ipynb
/Bisecting K-Means - Bin Packing.ipynb
/GCP Metrics.txt
/Heuristic First Fit Packing.ipynb
/jmeter.log
/K-Partition - Bin Packing.ipynb
/Metric Requests.ipynb
/monitoringAPI.ipynb
/placement_jupyter.ipynb
/Temp_Bisecting.ipynb
